@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroimage {
    background-image: url("./imgs/first_img.jpg");
  }

  .yellowquote {
    background-image: url("./imgs/img5.jpg");
  }
  .bluequote {
    background-image: url("./imgs/blue6.jpg");
  }
  .bluequote2 {
    background-image: url("./imgs/blue7.jpg");
  }
  .bluequote3 {
    background-image: url("./imgs/blue3.jpg");
  }
}
