@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroimage {
    background-image: url("./imgs/first_img.jpg");
  }

  .yellowquote {
    background-image: url("./imgs/img5.jpg");
  }
  .bluequote {
    background-image: url("./imgs/blue6.jpg");
  }

  .faqimage {
    background-image: url("./imgs/blue5.jpg");
  }

  .kontaktimg {
    background-image: url("./imgs/img8.jpg");
  }
}
